$baseFontSize: 14px;
$gold: #FFCC00;
$litegray: #ccc;
$gray: #666;
$darkgray: #333;
$white: #fff;
$subgray: #898F8F;
$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;
$openSans: 'Open Sans', sans-serif;